{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

<div class="container mt-5">
    <h2>Carrello</h2>
    <ul class="list-group">
        {% for item in cart_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{{ item.laptop.image.url }}" alt="{{ item.laptop.name }}" style="width: 50px; height: auto; margin-right: 10px;">
                    <span>{{ item.laptop.name }}</span>
                </div>
                <div class="d-flex align-items-center">
                    <span>{{ item.laptop.price }} €</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="mr-3">Quantità: {{ item.quantity }}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <!-- Pulsanti per modificare quantità e rimuovere -->
                    <a href="{% url 'increase_quantity' item.id %}" class="btn btn-sm btn-success ml-2">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                    <a href="{% url 'decrease_quantity' item.id %}" class="btn btn-sm btn-warning ml-2">
                        <i class="bi bi-dash-lg"></i>
                    </a>
                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-sm btn-danger ml-2">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">Il carrello è vuoto.</li>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-end mt-3">
        <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
    </div>
</div>
{% endblock %}
