{% extends "base.html" %}

{% block title %}{{ laptop.name }} - E-Laptop{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <!-- Immagine del laptop -->
        <div class="col-md-6">
            <img src="{{ laptop.image.url }}" class="img-fluid rounded shadow-sm" alt="{{ laptop.name }}">
        </div>

        <!-- Dettagli del laptop -->
        <div class="col-md-6">
            <h2>{{ laptop.name }}</h2>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <i class="fas fa-star text-warning"></i>
            {{ laptop.avg_rating }}
            {% if user.is_authenticated %}
                &nbsp; <a href="{% url 'LaptopReviewsList' laptop.id %}">({{ laptop.laptopreview_set.count }} recensioni)</a>
            {% endif %}

            {% if laptop.description %}
                <p class="text-muted">{{ laptop.description }}</p>
            {% endif %}

            <h4 class="text-primary">€{{ laptop.price }}</h4>

            <!-- Aggiungi al carrello o altre azioni -->
            <div class="d-grid gap-2 my-4">
                {% if user.is_authenticated %}

                    {% if user.user_type == 'buyer' %}
                        <a href="#" class="btn btn-success btn-block">Aggiungi al Carrello</a>
                        <a href="{% url 'LaptopReview' laptop.id %}" class="btn btn-warning btn-block">Recensione al Laptop</a>
                    {% endif %}

                    {% if user.user_type == 'seller' %}
                        {% if user.id == laptop.seller_id %}
                            <a href="{% url 'LaptopUpdate' laptop.id %}" class="btn btn-info btn-block">Modifica Prodotto</a>
                            <a href="{% url 'LaptopDelete' laptop.id %}" class="btn btn-danger btn-block">Elimina Prodotto</a>
                        {% endif %}
                    {% endif %}

                {% endif %}

                <a href="{% url 'LaptopsList' %}" class="btn btn-secondary btn-block">Vai alla Lista Prodotti</a>

                {% if user.is_authenticated %}
                    {% if user.user_type == 'seller' %}
                        {% if user.id == laptop.seller_id %}
                            <a href="{% url 'SellerDashboard' user.id %}" class="btn btn-secondary btn-block">Vai alla Dashboard</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Specifiche tecniche -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h4>Specifiche tecniche</h4>
            <p>Processor brand: {{ laptop.processor_brand }}</p>
            <p>Processor model: {{ laptop.processor_model }}</p>
            <p>RAM: {{ laptop.ram }} GB</p>
            <p>Storage: {{ laptop.storage }} GB</p>
            <p>Display: {{ laptop.display_inches }}''</p>
        </div>
    </div>
</div>
{% endblock %}
