{% extends "base.html" %}

{% block title %}Lista Prodotti - E-Laptop{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center">Prodotti Disponibili</h2>
        <!-- Pulsante per cercare -->
        <a href="{% url 'Search' %}" class="btn btn-success">Cerca</a>
    </div>

    <div class="row">
        {% for laptop in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ laptop.image.url }}" class="card-img-top" alt="{{ laptop.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ laptop.name }}</h5>
                        <p class="card-text">{{ laptop.display_inches }}'', {{ laptop.processor_brand }} {{ laptop.processor_model }} | {{ laptop.ram }}, {{ laptop.storage }} </p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'LaptopDetail' laptop.id %}" class="btn btn-primary">Visualizza Dettagli</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
