{% extends "base.html" %}

{% block title %}Dashboard - E-Laptop{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>I miei prodotti</h2>
        <!-- Pulsante per aggiungere nuovi prodotti -->
        <a href="{% url 'add_laptop' %}" class="btn btn-success">Aggiungi Prodotto</a>
    </div>

    <div class="row">
        {% for laptop in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ laptop.image.url }}" class="card-img-top" alt="{{ laptop.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ laptop.name }}    |    €{{ laptop.price }} </h5>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
                        <i class="fas fa-star text-warning"></i> {{ laptop.avg_rating }}
                        <p class="card-text">{{ laptop.display_inches }}'', {{ laptop.processor_brand }} {{ laptop.processor_model }} | {{ laptop.ram }}, {{ laptop.storage }} </p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'laptop_detail' laptop.id %}" class="btn btn-primary">Visualizza Dettagli</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



    <h2>Le recensioni degli utenti</h2>
    {% if seller_reviews.exists %}
        <div class="row mt-4">
            {% for review in seller_reviews %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.description }}</p>
                            <p class="text-muted">Valutazione:
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
                                <i class="fas fa-star text-warning"></i>
                                {{ review.rating }}/5 - di {{ review.user.username }}
                            </p>
                            <p class="text-muted">{{ review.creation_time|date:"d/m/Y H:i" }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">Nessuna recensione disponibile per questo fornitore.</p>
    {% endif %}
</div>
{% endblock %}
